* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    #0f0606 0%,
    #200b0b 5%,
    #2f0000 15%,
    #490000 35%,
    #650000 60%
  );
}

/* HEADER */

header {
  width: 100%;
  height: 100px;
  padding-top: 120px;
  background-color: #0f0606;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.FCXLogo {
  width: 20%;
  max-width: 180px;
  min-width: 120px;
  height: auto;
}

/* NAV-BAR */

nav ul li {
  flex: 0 1 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

/* HERO SECTION */

.hero {
  width: 100%;
  margin-top: 100px;
  position: relative; /* I found out I needed this for correct positioning */
  padding-bottom: 2rem; /* I used rem tho I could probs just used 2% or something. Idk.. */
}

.hero-content {
  width: 100%;
  position: relative;
}

.hero-content img {
  width: 100%;
  max-width: 1400px; /* limits how big it can get, hard coded cuz didn't find a way to keep the aspect ratio I wanted */
  height: auto; /* maintains aspect ratio */
  display: block;
  margin: 0 auto;
  object-fit: cover; /* trying to stop the img to dissapear */
}

/* The overlay text */

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Don't think we have learned this, but seems like the easiest way to make the text behave  */

  color: white;
  text-align: center;

  background: #200b0bbd;
  padding: 2rem 3rem; /* I used rem tho I could probs just used 2% and 3%. Again I kinda gave up*/
  border-radius: 10px;

  max-width: 80%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem; /* If it works, don't fix it*/
}

/* Trying some stuff*/
.hero::after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 20%;
}

.cta-btn {
  display: inline-block;
  margin-top: 3%;
  padding: 2% 5%;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  font-family: Arial, sans-serif;
  background-color: #fc7202;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background-color: #ffa308;
}

/* SELECTION ELEMENT */

.selection-section {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #650000;
}

.selection-btn {
  display: inline-block;
  padding: 10% 10%;
  font-size: clamp(
    18px,
    2vw,
    28px
  ); /* Not sure what clamp does, fixing a minimum value, a preferred value and maximum value. Found it a cool consept and tried to use it. If that's a bad thing to do, pleace give me a reason of why. */
  background-color: #fc7202;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.selection-btn:hover {
  background-color: #ffa308;
}

/* FOOTER */

.site-footer {
  width: 100svw;
  background-color: #0f0606;
  color: white;
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-top: 0;
}
